---
import { copy } from '../content/copy'
---

<section id="faq" class="faq" data-testid="faq">
  <h2 data-reveal>{copy.faq.heading}</h2>
  <div class="faq-list" data-reveal-group>
    {
      copy.faq.items.map((item) => (
        <details class="faq-item">
          <summary>{item.q}</summary>
          <div class="faq-answer">
            <p>
              {item.a}
              {'link' in item && (
                <>
                  {' '}
                  <a href={item.link.href}>{item.link.label}</a>
                </>
              )}
            </p>
          </div>
        </details>
      ))
    }
  </div>
</section>
