---
import { copy } from '../content/copy'
---

<section id="screenshots" class="screenshots" data-testid="screenshots">
  <h2>{copy.screenshots.heading}</h2>
  <p class="subhead">{copy.screenshots.subhead}</p>
  <div class="shots">
    {
      copy.screenshots.shots.map((s) => (
        <figure>
          <img src={s.src} alt={s.alt} loading="lazy" decoding="async" width="800" height="500" />
          <figcaption>{s.caption}</figcaption>
        </figure>
      ))
    }
  </div>
  <p class="note">{copy.screenshots.note}</p>
</section>
